html, body {
  width: 400px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

#queryList div {
  margin: 2px auto;
  padding: 4px;
  text-align: left;
  background-color: cyan;
}