html, body {
  width: 400px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  color: #424242;
  font-size: 16px; 
  margin: 0;
  padding: 0;
  text-align: center;
}

#header {
  background-color: #424242;
  font-weight: bold;
  font-size: 20px;
  padding: 4px 12px;
  color: #f0f0f0;
}

#content {
  padding: 12px;
}

#domain {
  background-color: #de3023;
  display: inline-block;
  color: #f0f0f0;
  margin: 0 auto;
}

div.textGroup {
  margin: .2em 0;
  text-align: left;
}

div.queryList div {
  background-color: #d1d1d1;
  border-bottom: 1px solid #424242;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.queryList input[type=text] {
  width: 280px;
  flex-grow: 1;
}

 div.queryList i {
  font-size: 28px;
} 

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}