@dark-grey: #424242;
@pale-white: #f0f0f0;
@white: #fcfcfc;

@base-font-size: 16px;
@outer-padding: 12px;
@bottom-margin: @outer-padding - 3px;

.outer-padding {
  padding-left: @outer-padding;
  padding-right: @outer-padding;
}

.clickable {
  cursor: pointer;
}

html, body {
  width: 400px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  color: @dark-grey;
  font-size: @base-font-size; 
  margin: 0;
  padding: 0;
}

#header {
  .outer-padding;

  background-color: @dark-grey;
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: @bottom-margin;
  color: @pale-white;
}

#content {  
  .outer-padding;

  div {
    margin-bottom: @bottom-margin;
  }

  .domainWrapper { 
    text-align: center;

    .domain {
      background-color: #de3023;
      display: inline-block;
      color: @white;
      padding: 4px 8px;
    }
  }

  div.queryList {
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    i {
      font-size: 28px;
      max-width: 32px;
    }

    input[type=text] {
      width: 280px;
      flex-grow: 1;
      font-size: @base-font-size - 2px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 4px;
      margin-right: 5px;
    }
  }
}
